<p id="notice"><%= notice %></p>

<h4>Basic Details</h4>
<p>
  <strong>First name:</strong>
  <%= @resume.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @resume.last_name %>
</p>

<p>
<strong>Email:</strong>
<%= @resume.email%>
</p>

<p>
<strong>Address:</strong>
<%= @resume.address%>
</p>

<p>
<strong>State:</strong>
<%= @resume.state%>
</p>

<p>
<strong>City:</strong>
<%= @resume.city%>
</p>

<p>
<strong>Pincode:</strong>
<%= @resume.pincode%>
</p>

<p>
<strong>Country:</strong>
<%= @resume.country%>
</p>

<h4>Education</h4>
<p>
<strong>College_name:</strong>
<%= @resume.college_name%>
</p>

<p>
<strong>Aggregate_mark:</strong>
<%= @resume.aggregate_mark%>
</p>

<p>
<strong>College_address:</strong>
<%= @resume.college_address%>
</p>

<p>
<strong>School_name_10th:</strong>
<%= @resume.school_name_10th%>
</p>

<p>
<strong>Aggregate_mark_10th:</strong>
<%= @resume.aggregate_mark_10th%>
</p>

<p>
<strong>School_10th_address:</strong>
<%= @resume.school_10th_address%>
</p>

<p>
<strong>School_name_12th:</strong>
<%= @resume.school_name_12th%>
</p>

<p>
<strong>Aggregate_mark_12th:</strong>
<%= @resume.aggregate_mark_12th%>
</p>


<p>
<strong>School_12th_address:</strong>
<%= @resume.school_12th_address%>
</p>


<p>
<strong>Job_title:</strong>
<%= @resume.job_title%>
</p>


<p>
<strong>Company_name:</strong>
<%= @resume.company_name%>
</p>


<p>
<strong>Job_title:</strong>
<%= @resume.job_title%>
</p>

<p>
<strong>Company_name:</strong>
<%= @resume.company_name%>
</p>


<p>
<strong>location:</strong>
<%= @resume.location%>
</p>

<p>
<strong>Salary:</strong>
<%= @resume.salary%>
</p>

<p>
<strong>from:</strong>
<%= @resume.from%>
</p>

<p>
<strong>to:</strong>
<%= @resume.from%>
</p>

<p>
<strong>Hobbies_interest:</strong>
<%= @resume.hobbies_interest%>
</p>

<p>
<strong>Professional_skills:</strong>
<%= @resume.professional_skills%>
</p>

<p>
<strong>languages:</strong>
<%= @resume.languages%>
</p>

<%= link_to 'Edit', edit_resume_path(@resume) %> |
<%= link_to 'Back', resumes_path %>
